.ReactPiano__Keyboard {
    /* Used for absolute positioning of .ReactPiano__Key--accidental elements */
    position: relative;
    /* Used to lay out .ReactPiano__Key--natural elements */
    display: flex;
    margin: 0 auto;
}